*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family:'Segoe UI';
    color: white;
    
}
html,body{
    width: 100%;
    height: auto;
    background-color: rgb(28, 9, 3);
}

/* Navigation design Code */


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(28, 9, 3);
    position: sticky;
    z-index: 1;
    top: 0px;
    
}
li{
    display: block;
    font:15px 'Segoe UI' ;
    font-weight: 600;
}
li a{
    padding: 10px 20px;
    float: left;
    color: white;
    text-decoration: none;
    transition: background-color linear 0.3s;
    
}
li a:hover{
    background-color: orangered;
}
.about{
    float: right;
}

/* Banner Design Code */

.banner{
    width: 100%;
    height: 10%;
    border: none;
    overflow: hidden;
    background: url(image/Banner.jpg) no-repeat ;
    background-position: center;
    background-size: cover;   
}

.banner h1{
    background-color: rgba(0, 0, 0, 0.744);
    color: orangered;
    text-shadow: 0px 0px 10px black;
    font: 150px 'Segoe UI';
    font-weight: 800;
    padding-bottom: 80px;
    padding-top: 50px
}


/* Card Design Code */

main{
    
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid white; */
    border-radius: 10px;
    margin-left:10%;


}

.container{
    margin: 50px;
    width: 80%;
    height: 400px;
    /* border: 2px solid black; */

    display: flex;
    justify-content: space-between;
}
.map{
    width: 50%;
    height: 100%;
    border: 3px solid ;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    transition: all linear 0.3s;

}
.map:hover{
    box-shadow: 0px 0px 10px white;
    transform: scale(1.1);
    z-index: 1;
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
.form{
    float: right;
    position: relative;
    width: 50%;
    height: 100%;
    border: 3px solid red;
    border-radius: 0px 20px 20px 0px;
    transition: all linear 0.3s;
    background: transparent;
    backdrop-filter: blur(15px);

}
.form:hover{
    box-shadow: 0px 0px 10px orangered;
    transform: scale(1.1);
}
.form h1{
    margin-top: 50px;
    text-align: center;
    font:70px 'Franklin Gothic Medium';
    font-weight: 600;
    color: orangered;
    text-shadow: 0px 0px 10px  black;
}

.form form{
    margin-top: 20px;
}

.form .input{
    width: 80%;
    height: 35px;
    margin: 10px 5%;
    border: 1px solid orangered;
    border-radius:20px;
    padding:0px 10px;
    background-color: transparent;
    font-weight: 600;
}

.form .input:focus{
    box-shadow: 0px 0px 15px orangered;
}

.form button{
    background-color: orangered;
    width: 50%;
    height: 50px;
    margin: 40px 25%;
    border-radius: 20px ;
    border: 3px solid rgb(141, 41, 5);
    font:26px 'Segoe UI';
    font-weight: 600;
    transition: all;
}
.form button:hover{
    background-color: black;
    color: orangered;
    box-shadow: 0px 0px 10px orange;
}
.check{
    margin:-10px 15px;
    border: 2px solid;
    width: 80%;
    height: 5%;
    border: 2px solid;
    color: orangered;
    font:12px 'Segoe UI';
    font-weight: 600;
    margin-left: 10%;
    margin-top: 1px;
    display: flex;
    border: none;
    justify-content: space-between;
}
.check input{
    width: 10px;
    margin-right: 5px;
    cursor: pointer;    
}
.check label{
    cursor: pointer;
    height: 100%;
}
.check a{
    margin:px 15px;
    float: right;
    text-decoration: none;

}
::placeholder{
    color: orange;
    font-weight: 600;

}

/* Footer Design Code */

footer{
    width: 100%;
    height: 5%;
    background-color: rgb(51, 18, 8);
    position: absolute;
    margin-top: 50px;
}
footer p {
    color: orange;
    padding-top: 8px;
    font: 15px 'Segoe UI';
    font-weight: 500;
}
.sign{
    border: 2px solid white;
    margin-top: -30px;
    border: none;
    
}
.sign a{
    text-decoration: none;
    font-weight: 600;
    color: orangered;
    text-shadow: 0px 0px 10px black;
}
